{% extends 'indexadmin.html' %}
{% block title %}
<title>Add section time | Admin page | Auction E-commerce</title>
{% endblock %}


{% block titleh1 %}
Add section time
{% endblock %}

{% block sectiontime %}
active
{% endblock %}

{% block adminaddsectiontime %}
active
{% endblock %}

{% block sectiontimeshow %}
show
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item">Time</li>
<li class="breadcrumb-item">Section time</li>
<li class="breadcrumb-item active">Add section time</li>
{% endblock %}

{% block body %}
<section class="section dashboard">
    <div class="row">
    </div>
</section>
{% endblock %}