{% extends 'index.html' %}
{% block title %}
<title>Change Password {{data.user.username}} | Auction E-commerce</title>
{% endblock %}

{% block body %}


<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-8 col-md-6">
            <div class="box w-100 text-white">
                <div class="displays p-5 w-100">
                    <h2 class="text-center">Change Password</h2>
                    <div class="infowrapper">
                        <form method="post" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row my-2">
                                <div class="col-12 mt-3">
                                    <div class="form-outline">
                                        <input type="password" name="pw1" id="form3Example1" class="form-control" />
                                        <label class="form-label" for="form3Example1">Old Password</label>
                                    </div>
                                </div>
                                <div class="col-12 mt-3">
                                    <div class="form-outline">
                                        <input type="password" name="pw2" id="form3Example1" class="form-control" />
                                        <label class="form-label" for="form3Example1">New Password</label>
                                    </div>
                                </div>
                                <div class="col-12 mt-3">
                                    <div class="form-outline">
                                        <input type="password" name="pw3" id="form3Example1" class="form-control" />
                                        <label class="form-label" for="form3Example1">Confirm Password</label>
                                    </div>
                                </div>

                            </div>

                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block mt-4">Update</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>

</div>
{% endblock %}