{% extends 'indexadmin.html' %}
{% block title %}
<title>Edit section date | Admin page | Auction E-commerce</title>
{% endblock %}


{% block titleh1 %}
Add section date
{% endblock %}

{% block sectiondate %}
active
{% endblock %}

{% block adminaddsectiondate %}
active
{% endblock %}
{% block sectiondateshow %}
show
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item">Time</li>
<li class="breadcrumb-item">Sesstion Date</li>
<li class="breadcrumb-item active">Edit section date</li>
{% endblock %}

{% block body %}
<section class="section dashboard">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Edit section date</h5>
                    <form method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <label for="inputDate" class="col-sm-2 col-form-label">Date</label>
                            <div class="col-sm-10">
                                <input type="date" value="{{ses.date}}" name="date" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">

                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Submit Form</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}