{% extends 'indexadmin.html' %}
{% block title %}
<title>FeedBack | Admin page | Auction E-commerce</title>
{% endblock %}


{% block titleh1 %}
Feedback
{% endblock %}

{% block feedback %}
active
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item">Customer</li>
<li class="breadcrumb-item active">FeedBack</li>
{% endblock %}

{% block body %}
<section class="section dashboard">
    <div class="row">
    </div>
</section>
{% endblock %}