{% extends 'indexadmin.html' %}
{% block title %}
<title>New product | Admin page | Auction E-commerce</title>
{% endblock %}


{% block titleh1 %}
New product
{% endblock %}

{% block subcategory %}
active
{% endblock %}

{% block adminaddsubcategory %}
active
{% endblock %}
{% block subcategoryshow %}
show
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item">Product</li>
<li class="breadcrumb-item">Sub Category</li>
<li class="breadcrumb-item active">View Product</li>
{% endblock %}

{% block body %}
<section class="section dashboard">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">View Product</h5>

                    <!-- Table with stripped rows -->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th>Product Name</th>
                                <th>Image</th>
                                <th>Session Date</th>
                                <th>Session Time</th>
                                <th>Seller</th>
                                <th>Status</th>
                                <th>Detail</th>
                                <th>Assign</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in prod %}
                            {% if i.product.status.status == "Pending" %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{i.product.name}}</td>
                                <td><img src="{{i.product.images.url}}" style="width:100px;height:100px"></td>
                                <td>{{i.product.session.date.date}}</td>
                                <td>{{i.product.session.time}}</td>
                                <td>{{i.user.user.username}}</td>
                                <td>{{i.product.status.status}}</td>
                                <td><a href="{% url 'productdetail2' i.product.id %}"><button
                                            class="btn btn-primary">Detail</button></a></td>
                                <td>
                                    <a href="{% url 'status' i.product.id %}"><button
                                            class="btn btn-primary">Assign</button></a>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}

                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}