{% extends 'indexadmin.html' %}
{% block title %}
<title>New product | Admin page | Auction E-commerce</title>
{% endblock %}


{% block titleh1 %}
New product
{% endblock %}

{% block subcategory %}
active
{% endblock %}

{% block adminaddsubcategory %}
active
{% endblock %}
{% block subcategoryshow %}
show
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item">Product</li>
<li class="breadcrumb-item">Sub Category</li>
<li class="breadcrumb-item active">New product</li>
{% endblock %}

{% block body %}
<section class="section dashboard">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Table Section Seller user</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <img src="{{pro.images.url}}" style="width:100%">
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <span>Product Name : </span>
                                </div>
                                <div class="col-md-6">
                                    <span style="font-weight:bold"> {{pro.name}}</span>
                                    <hr>
                                </div>

                                <div class="col-md-6">
                                    <span>Product Category : </span>
                                </div>
                                <div class="col-md-6">
                                    <span style="font-weight:bold"> {{pro.category}}</span>
                                    <hr>
                                </div>
                                <div class="col-md-6">
                                    <span>Product Seller : </span>
                                </div>
                                <div class="col-md-6">
                                    <span style="font-weight:bold"> {{pro1.user.user.username}}</span>
                                    <hr>
                                </div>
                                <div class="col-md-6">
                                    <span>Minium Price : </span>
                                </div>
                                <div class="col-md-6">
                                    <span style="font-weight:bold"> &#8377;{{pro.min_price}}.00 /-</span>
                                    <hr>
                                </div>
                            </div>
                            <div align="center">
                                <p style="color:blue">
                                    <i class="fa fa-clock-o"></i> Auction Session info
                                </p>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <span>Start Auction Session : </span>
                                </div>
                                <div class="col-md-6">
                                    <span style="font-weight:bold;color:blue"> {{pro.session.time}}</span>
                                </div>
                                <div class="col-md-6">
                                    <span>End Auction Session : </span>
                                </div>

                                <div class="col-md-6">
                                    <span style="font-weight:bold;color:blue"> {{end2}}</span>
                                </div>
                                <div class="col-md-6">
                                    <span> Session Date : </span>
                                </div>

                                <div class="col-md-6">
                                    <span style="font-weight:bold;color:blue"> {{pro.session.date.date}}</span>
                                </div>

                            </div>

                            <br />
                            <a href="{% url 'status' pro.id %}"><button class="btn btn-primary">Assign
                                    Status</button></a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}