{% extends 'indexadmin.html' %}
{% block title %}
<title>Seller user | Admin page | Auction E-commerce</title>
{% endblock %}


{% block titleh1 %}
Seller user
{% endblock %}

{% block bidderuser %}
active
{% endblock %}

{% block adminselleruser %}
active
{% endblock %}

{% block bidderusershow %}
show
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item">Customer</li>
<li class="breadcrumb-item">User</li>
<li class="breadcrumb-item active">Seller user</li>
{% endblock %}

{% block body %}
<section class="section dashboard">
    <div class="row">
    </div>
</section>
{% endblock %}