{% extends 'indexadmin.html' %}
{% block title %}
<title>View Category | Admin page | Auction E-commerce</title>
{% endblock %}


{% block titleh1 %}
View Category
{% endblock %}

{% block category %}
active
{% endblock %}

{% block adminviewcategory %}
active
{% endblock %}
{% block categoryshow %}
show
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item">Product</li>
<li class="breadcrumb-item">Category</li>
<li class="breadcrumb-item active">View Category</li>
{% endblock %}

{% block body %}
<section class="section dashboard">
    <div class="row">
    </div>
</section>
{% endblock %}