{% extends 'indexadmin.html' %}
{% block title %}
<title>View Sub Category | Admin page | Auction E-commerce</title>
{% endblock %}


{% block titleh1 %}
View Sub Category
{% endblock %}

{% block subcategory %}
active
{% endblock %}

{% block adminviewsubcategory %}
active
{% endblock %}
{% block subcategoryshow %}
show
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item">Product</li>
<li class="breadcrumb-item">Sub Category</li>
<li class="breadcrumb-item active">View Sub Category</li>
{% endblock %}

{% block body %}
<section class="section dashboard">
    <div class="row">
    </div>
</section>
{% endblock %}