{% extends 'indexadmin.html' %}
{% block title %}
<title>View section date | Admin page | Auction E-commerce</title>
{% endblock %}


{% block titleh1 %}
View section date
{% endblock %}

{% block sectiondate %}
active
{% endblock %}

{% block adminviewsectiondate %}
active
{% endblock %}
{% block sectiondateshow %}
show
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item">Time</li>
<li class="breadcrumb-item">Sesstion Date</li>
<li class="breadcrumb-item active">View section date</li>
{% endblock %}

{% block body %}
<section class="section dashboard">
    <div class="row">
    </div>
</section>
{% endblock %}