{% extends 'indexadmin.html' %}
{% block title %}
<title>View Product verification | Admin page | Auction E-commerce</title>
{% endblock %}


{% block titleh1 %}
View Product verification
{% endblock %}

{% block producionverification %}
active
{% endblock %}

{% block adminviewproducionverification %}
active
{% endblock %}
{% block producionverificationshow %}
show
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item">Product</li>
<li class="breadcrumb-item">Product verification</li>
<li class="breadcrumb-item active">View Product verification</li>
{% endblock %}

{% block body %}
<section class="section dashboard">
    <div class="row">
    </div>
</section>
{% endblock %}