{% extends 'indexadmin.html' %}
{% block title %}
<title>View Product verification | Admin page | Auction E-commerce</title>
{% endblock %}


{% block titleh1 %}
View Product verification
{% endblock %}

{% block producionverification %}
active
{% endblock %}

{% block adminviewproducionverification %}
active
{% endblock %}
{% block producionverificationshow %}
show
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item">Product</li>
<li class="breadcrumb-item">Product verification</li>
<li class="breadcrumb-item active">View Product verification</li>
{% endblock %}

{% block body %}
<section class="section dashboard">
    <div class="row">
        <div class="col-6">
            <div class="card info-card customers-card">
                <div class="card-body">
                    <h5 class="card-title">Live <span>| Server</span></h5>

                    <div class="filter">
                        <span class="spinner-grow text-danger me-5" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </span>
                    </div>

                    <div class="d-flex align-items-center">
                        <!-- <img src="http://192.168.107.140:5050/" width="100%"> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}