{% extends 'indexadmin.html' %}
{% block title %}
<title>View section date | Admin page | Auction E-commerce</title>
{% endblock %}


{% block titleh1 %}
View section date
{% endblock %}

{% block sectiondate %}
active
{% endblock %}

{% block adminviewsectiondate %}
active
{% endblock %}
{% block sectiondateshow %}
show
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item">Time</li>
<li class="breadcrumb-item">Sesstion Date</li>
<li class="breadcrumb-item active">View section date</li>
{% endblock %}

{% block body %}
<section class="section dashboard">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Table Section date</h5>

                    <!-- Table with stripped rows -->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Session Date</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in date1 %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{i.date}}</td>
                                <td><a href="{% url 'editsessiondate' i.id %}"> <i
                                            style="font-size:30px;color:green;margin-left:6%"
                                            class="bi bi-pencil-square"></i></a>
                                    <a href="{% url 'deletesessiondate' i.id %}"> <i
                                            style="font-size:30px;color:red;margin-left:12%" class="bi bi-trash"
                                            onclick="return confirm('Are you sure?')"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}